<div class="container">
  <div class="row">
    <% @users.each do |user| %>

    <div class="col-sm-6 col-md-4">

      <div class="thumbnail">
        <%= image_tag user.image.url %>
        <div class="caption">
          <h3><%= user.name %></h3>
        <% if logged_in? && user.id == current_user.id  %>
        <%= link_to '詳細を確認する', user_path(user.id), class: 'btn btn-default'%>
        <%= link_to "編集する", edit_user_path(user.id), class: 'btn btn-default' %>
        <%= link_to '削除する', user_path(user.id), method: :delete ,data: { confirm: '本当に削除していいですか？' }, class: 'btn btn-default' %>
        <% else %>
        <%= link_to '詳細を確認する', user_path(user.id), class: 'btn btn-default'%>
        <% end %>
      </div>
      </div>
    </div>
    <% end %>


</div>
</div>
