<div class="container-fluid">
  <table class="table table-striped">
    <tr>
      <th>image</th>
      <th>user name</th>
      <th>email</th>
    </tr>

    <% @users.each do |user| %>
      <tr>
        <td><%= image_tag user.image.url , size: '100x100' %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>

        <% if logged_in? && user.id == current_user.id  %>
        <td><%= link_to '詳細を確認する', user_path(user.id), class: 'btn btn-default'%></td>
        <td><%= link_to "編集する", edit_user_path(user.id), class: 'btn btn-default' %></td>
        <td><%= link_to '削除する', user_path(user.id), method: :delete ,data: { confirm: '本当に削除していいですか？' }, class: 'btn btn-default' %></td>
        <% else %>
        <td><%= link_to '詳細を確認する', user_path(user.id), class: 'btn btn-default'%></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
