<div class="container">
  <div class="row">
    <div class="jumbotron">
      <legend>
        <h2 class="text-center">詳細</h2>
      </legend>

      <div class="mb-5 row">
        <div class="col-sm-4">
          <%= image_tag @user.image.url, class: "img-responsive" %>
        </div>
        <div class="col-sm-8">
          <h3><%= @user.name %></h3>
          <p><%= @user.email %></p>
          <%= link_to "お気に入り", show_favorites_user_path(@user.id), class: 'btn btn-success' %>
          <% if logged_in? && @user.id == current_user.id  %>
            <%= link_to "編集", edit_user_path(@user.id), class: 'btn btn-info' %>
            <%= link_to '削除', user_path(@user.id), method: :delete ,data: { confirm: '本当に削除していいですか？' }, class: 'btn btn-primary' %>
          <% else %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
