<div class="container">
  <div class="row">
    <div class="jumbotron">
      <fieldset>
        <legend>
          <h3>以下の内容で送信する</h3>
        </legend>

        <%= form_with(model: @picture, local: true) do |form| %>
        <div class="form-group">
          <%= form.hidden_field :content %>
          <p>content:<%= @picture.content %></p>
          <% if @picture.image && @picture.image.url %>
            <%= image_tag @picture.image.url ,class: "img-responsive"%>
          <% else %>
          <% end %>
          <%= form.hidden_field :image_cache %>
        </div>
        <%= form.submit "投稿",class: "btn btn-info" %>
        <%= form.submit "戻る",class: "btn btn-info" , name: 'back' %>
      <% end %>

      </fieldset>
    </div>
  </div>
</div>
