<!DOCTYPE html>
<html>
  <head>
    <title>IgClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= link_to "Top", root_path %>
    <%= link_to "Pictures", pictures_path %>
    <%= link_to "Users", users_path %>

    <% if logged_in? %>
      <%= link_to "Profile", user_path(current_user.id) %>
      <%= link_to "Logout", session_path(current_user.id), method: :delete %>
      <%= link_to "user_name:#{current_user.name}", user_path(current_user.id) %>
      <%= link_to "#{current_user.name}_favorites", show_favorites_user_path(current_user.id) %>
    <% else %>
      <%= link_to "Sign up", new_user_path %>
      <%= link_to "Login", new_session_path %>
    <% end %>

    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name %>">
      <%= msg.html_safe %>
      </div>
    <% end %>




    <%= yield %>
  </body>
</html>
